@font-face {
    font-family: 'e-Ukraine-Light';
    src: url(../../fonts/e-Ukraine-Light.otf);
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Medium';
    src: url(../../fonts/e-Ukraine-Medium.otf);
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Regular';
    src: url(../../fonts/e-Ukraine-Regular.otf);
    font-style: normal;
}
