.main .wrapper {
    background-color: rgb(255, 255, 255);   
}

.intro {
    min-height: 100vh;
    /* border: 2px solid red; */
    /* background: url("../../image/fon.png");
    background-size: cover; */
    padding-top: 15px;
}